@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 400px;
    background-color: #FFFFFF;
    --light-purple: #6a68ff;
    --purple: #5552E8;
    --dark-purple: #4341b8;
    --light-gray: rgb(228, 228, 228);
    --gray: #ccc;
    --background-gray: #F5F5F5;
    --font-gray: #5e5e5e;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-width: 400px;
}

/* 
@media(min-width:1401px){

}
@media (min-width: 1201px) and (max-width: 1400px) {
    :root{
        font-size: 15px;
    }

}

@media (min-width: 768px) and (max-width: 1200px){
    :root{
        font-size: 15px;
    }

   


}
@media (min-width: 576px) and (max-width: 767px){
    :root{
        font-size: 12px;
    }

}
@media (max-width: 575px){
    :root{
        font-size: 10px;
    }


} */

header {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;

    padding: 15px 5vw;
    min-width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul {
    width: 30%;
    display: flex;
    justify-content: end;
}

header li {
    margin-right: 60px;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.pdf-icon {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%270%200%2023%2028%27%20fill%3D%27none%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M2.73283%203.021H14.0418L20.0097%208.68766V14.0394L19.6953%2025.0578H2.10498L2.73376%203.021H2.73283Z%27%20fill%3D%27white%27%2F%3E%3Cpath%20d%3D%27M6.60429%2017.7305C6.35099%2017.7305%206.17941%2017.7553%206.09229%2017.7805V19.4024C6.19648%2019.4267%206.3276%2019.434%206.50725%2019.434C7.16746%2019.434%207.57348%2019.1007%207.57348%2018.5375C7.57348%2018.0336%207.22315%2017.7305%206.60336%2017.7305H6.60429ZM11.4063%2017.7471C11.1314%2017.7471%2010.9518%2017.7711%2010.8458%2017.7963V21.391C10.9518%2021.4161%2011.1233%2021.4164%2011.2769%2021.4164C12.4024%2021.4245%2013.1354%2020.8051%2013.1354%2019.4936C13.1435%2018.3502%2012.4752%2017.7471%2011.4063%2017.7471Z%27%20fill%3D%27%23FF0000%27%2F%3E%3Cpath%20d%3D%27M14.4999%200.266602H3.48199C2.75133%200.266602%202.05061%200.556972%201.53396%201.07362C1.01731%201.59027%200.727051%202.29121%200.727051%203.02186V25.0578C0.727051%2025.7885%201.01731%2026.4894%201.53396%2027.0061C2.05061%2027.5227%202.75133%2027.8131%203.48199%2027.8131H20.0097C20.7402%2027.8129%2021.4407%2027.5227%2021.9571%2027.0061C22.4736%2026.4895%2022.7637%2025.7883%2022.7637%2025.0578V8.53064L14.4999%200.266602ZM8.29925%2019.8105C7.87349%2020.2102%207.24561%2020.3894%206.51444%2020.3894C6.37271%2020.3908%206.23106%2020.3821%206.09048%2020.364V22.328H4.85896V16.9078C5.41489%2016.8248%205.97663%2016.787%206.53867%2016.7947C7.30488%2016.7947%207.85016%2016.9404%208.21844%2017.2341C8.56876%2017.5117%208.80496%2017.9672%208.80496%2018.5043C8.80316%2019.0442%208.62532%2019.5006%208.29925%2019.8105ZM13.5432%2021.6771C12.9648%2022.1577%2012.0845%2022.3868%2011.0084%2022.3868C10.3643%2022.3868%209.908%2022.3448%209.5981%2022.3034V16.9087C10.155%2016.8279%2010.7155%2016.7893%2011.2778%2016.7947C12.3198%2016.7947%2012.9971%2016.9818%2013.5262%2017.3806C14.0984%2017.8046%2014.4558%2018.4816%2014.4558%2019.4526C14.4558%2020.5035%2014.0714%2021.2289%2013.5432%2021.6771ZM18.6318%2017.8552H16.5218V19.1096H18.4944V20.1201H16.5218V22.3306H15.2741V16.8359H18.6318V17.8552ZM13.1228%209.90783V3.02186L20.0097%209.90783H13.1228Z%27%20fill%3D%27%23FF0000%27%2F%3E%3C%2Fsvg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 27px;

}



.preview {
    text-align: center;
    color: white;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.background-img-wrap::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.background-img {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.preview-content {
    max-width: 900px;
}

.title {
    font-size: 48px;
    margin: 0;
}

.preview-content .title {
    max-width: 650px;
    margin: 0 auto;
}

.desc {
    font-size: 26px;

}

.btn {
    background-color: var(--purple);
    color: white;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    transition: all ease 0.5s;
    font-size: 20px;
}

.btn:hover {
    background-color: var(--dark-purple);

    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn:active {
    background-color: var(--dark-purple);

    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    color: var(--purple);
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    border: 1px solid var(--light-gray);
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 20px;
}

.btn-white:hover {
    background-color: var(--background-gray);
    color: var(--purple);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.btn-white:active {
    background-color: var(--light-gray);
    color: var(--light-purple);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(0px);
}

.preview .arrow {
    position: absolute;
    bottom: 2rem;
    color: white;
    outline: none;
    border: none;
    background: none;
    scale: 1;
    transition: all ease 0.2s;
    cursor: pointer;
}

.preview .arrow:hover {
    color: rgb(191, 191, 191);
    scale: 1.2;
}





.business-solutions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0 260px;
    max-width: 1300px;
    margin: 0 auto;
}

.hardware {
    max-width: 550px;
    position: relative;
    margin-right: 270px;
}

.hardware .title {
    font-size: 40px;
    background-color: white;
    border-radius: 6px;
    color: var(--purple);
    position: absolute;
    padding: 1rem 0.5rem;
    top: 2rem;
    left: 25%
}

.hardware-main {
    border-radius: 1rem;
    width: 420px;
    height: 500px;
    object-fit: cover;
}

.hardware-side {
    width: 305px;
    height: 305px;
    object-fit: cover;
    border-radius: 1rem;
    position: absolute;
    bottom: -20%;
    right: -30%;
}

.business-solutions .content {
    max-width: 580px;
}

.business-solutions .desc {
    font-size: 20px;
}




.services {
    background-color: var(--background-gray);
    padding: 120px 0 130px;
    text-align: center;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: 53px auto 127px;
    gap: 40px;
}

.service {
    background-color: white;
    border: 1px solid var(--gray);
    padding: 20px 30px;
    border-radius: 1.5rem;
    margin-bottom: -10px;
    width: max-content;
    display: flex;
    text-align: left;
    align-items: center;
    gap: 0.75rem;
    font-size: 21px;
}

.service.colored {
    color: white;
    background-color: var(--purple);
    border-radius: 0.5rem;
}

.service-icon {
    width: 27px;
    height: 27px;
    min-width: 27px;
    min-height: 27px;
}






.it-infrastructure {
    margin: 93px 0 159px;
    text-align: center;
}

.it-infrastructure .title {
    margin-bottom: 96px;
}

.slider-container {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slides {
    width: 100%;
    display: flex;
    gap: 2rem;
    transition: all 0.5s ease-in-out;
}

.slide {
    min-width: calc(25% - 2rem);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--light-gray);
}

.slide img {
    width: 100%;
}

.carousal-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 28px;
    cursor: pointer;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    opacity: 0.4;
    transition: all ease 0.3s;
    box-shadow: 0px 0px 25px var(--light-gray);
    color: var(--purple)
}

.carousal-btn:hover {
    opacity: 1;
    box-shadow: 0px 0px 25px var(--gray);
}

.prev {
    left: -35px;
}

.next {
    right: 0;
}




.custom-solutions {
    background-color: var(--background-gray);
    padding: 122px 0 200px;
}

.custom-solutions .content {
    display: flex;

    margin: 0 auto;
    gap: 100px;
    width: calc(75% - 100px);

}

.custom-solutions .text {
    max-width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 21px;
}

.custom-solutions ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.custom-solutions li {
    border: 1px solid var(--light-gray);

    max-width: calc(50% - 28px);
    padding: 10px 14px;
    border-radius: 0.5rem;
    margin-bottom: -10px;
    width: max-content;
    display: flex;
    text-align: left;
    align-items: center;
    gap: 0.75rem;
    font-size: 16px;
}

.custom-solutions .image {
    min-width: 40%;
    min-height: 100%;
}

.custom-solutions .image img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}





.automation {
    padding: 40px 20px;
    position: relative;
    color: rgb(255, 255, 255);
    height: 570px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.automation .content {
    max-width: 50%;
}



.trust {
    margin: 90px 0 150px;
}

.trust .text {
    max-width: 510px;
    margin: 0 auto;
    text-align: center;
}

.trust .text p {
    font-size: 20px;
    color: var(--font-gray);
    margin: 10px 0 60px;
}



.cases {
    max-width: 1200px;
    margin: 0 auto 200px;
}

.case-list h1 {
    text-align: center;
    margin-bottom: 50px;
}

.case-list .case {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.case-image {
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    padding: 15px;
    margin-right: 30px;
}


.case-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px 0;
    line-height: 1.7;
    margin-top: 100px;
}

.case-details ul {
    list-style: disc;
    padding-left: 20px;

}

.case-details .case {
    position: relative;
    width: calc(50% - 10px);

    padding: 30px;
    border-radius: 10px;

    margin-bottom: 20px;
    background-color: var(--background-gray);
}

.case-details .case::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, var(--background-gray) 40%, transparent 100%);
    border-radius: 10px;
    pointer-events: none;
}

.case-details .case h2 {
    color: var(--purple);
    font-size: 1.2em;
    margin-bottom: 10px;
    line-height: 1;
}

.case-details .case p {
    font-size: 0.9em;
}

.case-details .case button {
    display: flex;
    align-items: flex-end;
    gap: 0.75rem;

    position: absolute;
    bottom: 65px;
    left: 72px;

    z-index: 1;
}




.advantages {
    background-color: #f8f8f8;
    padding: 160px 0;
    text-align: center;
}

.advantages-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 60px auto 0;

}

.advantages-list .icon {
    width: 100px;
    height: 100px;
    padding: 30px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.advantages-list h3 {
    font-size: 25px;
    font-weight: 500;
}

.advantages-list p {
    margin: 0;
    color: var(--font-gray);
}

.advantage {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantage img {
    max-width: 50px;
}




.reviews {
    padding: 100px 20px;
    margin: 30px auto 120px;
    max-width: 1200px;

}

.reviews .text {
    max-width: 510px;
    margin: 0 auto;
    text-align: center;
}

.reviews .text p {
    font-size: 20px;
    color: var(--font-gray);
    margin: 10px 0 60px;
}

.review {
    max-width: 30%;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    padding: 40px 40px 30px 40px;
    text-align: center;
}

.review img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
}

.review p {
    font-size: 22px;

    margin: 30px 0 40px;
}

.review span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: var(--font-gray);
}

.reviews .reviews-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
}



.awards {
    background-color: var(--background-gray);
    padding: 90px 100px;
    text-align: center;
}

.awards .awards-list {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.awards img {
    margin-top: 85px;
    border-radius: 8px;
    object-fit: cover;
    min-width: 22%;
    max-width: calc(30% - 50px);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
}




.why-choose-us {
    margin: 150px auto;
    max-width: 850px;
}

.why-choose-us .text {
    text-align: center;
    margin: 150px 0 80px;

}

.why-choose-us p {
    font-size: 22px;
    color: var(--font-gray);
}

.why-choose-us .title {
    max-width: 500px;
    margin: 0 auto 33px;
}

.reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reason {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    position: relative;
}

.reason:last-child {
    margin-bottom: 0;
}

.reason .content {
    max-width: 600px;
}

.reason .content h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.reason .content p {
    margin: 5px 0 0;
    font-size: 16px;
    color: var(--font-gray)
}


.reasons .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--purple);
    margin-right: 35px;
    margin-top: -20px;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.15);
}

.reason:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 35px;
    top: 70px;
    bottom: -70px;
    border-left: 2px dashed var(--light-gray);
}



.contact {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.contact .text {
    text-align: center;
    margin-bottom: 40px;
}

.contact form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.contact input, button {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 1rem;

}

.contact input:focus {
    animation: focusAnimation 0.5s ease-in-out;
    border: 2px solid var(--light-purple);
    padding: 8px;
}


.contact input:hover {
    animation: hoverAnimation 0.5s ease-in-out;
    border: 1px solid var(--light-purple);
    padding: 9px;
}

@keyframes focusAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hoverAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

.contact .btn {
    font-size: 18px;

}



.contact-section {
    text-align: center;
    padding: 70px 20px;
    background-color: var(--background-gray);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.contact-section .text p {
    font-size: 24px;
    color: var(--font-gray);
    margin: 20px 0 150px;
}

.social-icons {
    margin: 0 0 176px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.social-icons a {
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0, 0.1);
    border-radius: 50px;
    width: 70px;
    height: 70px;
    color: var(--purple);
    display: flex;
    align-self: center;
}

.social-icons svg{
    max-width: 30px;
    max-height: 30px;
}

.company-info {
    max-width: 430px;
    font-size: 18px;
    line-height: 1.4;
}
.company-info p{
margin: 5px;
}