@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 400px;
    background-color: #FFFFFF;
    --light-purple: #6a68ff;
    --purple: #5552E8;
    --dark-purple: #4341b8;
    --light-gray: rgb(228, 228, 228);
    --gray: #ccc;
    --background-gray: #f0f0f0;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-width: 400px;
}

/* 
@media(min-width:1401px){

}
@media (min-width: 1201px) and (max-width: 1400px) {
    :root{
        font-size: 15px;
    }

}

@media (min-width: 768px) and (max-width: 1200px){
    :root{
        font-size: 15px;
    }

   


}
@media (min-width: 576px) and (max-width: 767px){
    :root{
        font-size: 12px;
    }

}
@media (max-width: 575px){
    :root{
        font-size: 10px;
    }


} */

header {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;

    padding: 15px 5vw;
    min-width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul {
    width: 30%;
    display: flex;
    justify-content: end;
}

header li {
    margin-right: 60px;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}




.preview {
    text-align: center;
    color: white;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.background-img-wrap::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.background-img {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.preview-content {
    max-width: 900px;
}

.title {
    font-size: 48px;
    margin: 0;
}

.preview-content .title {
    max-width: 650px;
    margin: 0 auto;
}

.desc {
    font-size: 26px;

}

.btn {
    background-color: var(--purple);
    color: white;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    transition: all ease 0.5s;
    font-size: 20px;
}

.btn:hover {
    background-color: var(--dark-purple);

    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn:active {
    background-color: var(--dark-purple);

    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.preview .arrow {
    position: absolute;
    bottom: 2rem;
    color: white;
    outline: none;
    border: none;
    background: none;
    scale: 1;
    transition: all ease 0.2s;
    cursor: pointer;
}

.preview .arrow:hover {
    color: rgb(191, 191, 191) !important;
    scale: 1.2;
}





.business-solutions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0 260px;
    max-width: 1300px;
    margin: 0 auto;
}

.hardware {
    max-width: 550px;
    position: relative;
    margin-right: 270px;
}

.hardware .title {
    font-size: 40px;
    background-color: white;
    border-radius: 6px;
    color: var(--purple);
    position: absolute;
    padding: 1rem 0.5rem;
    top: 2rem;
    left: 25%
}

.hardware-main {
    border-radius: 1rem;
    width: 420px;
    height: 500px;
    object-fit: cover;
}

.hardware-side {
    width: 305px;
    height: 305px;
    object-fit: cover;
    border-radius: 1rem;
    position: absolute;
    bottom: -20%;
    right: -30%;
}

.business-solutions .content {
    max-width: 580px;
}

.business-solutions .desc {
    font-size: 20px;
}

.btn-white {
    color: var(--purple);
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    border: 1px solid var(--light-gray);
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 20px;
}

.btn-white:hover {
    background-color: var(--background-gray);
    color: var(--purple);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.btn-white:active {
    background-color: var(--light-gray);
    color: var(--light-purple);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(0px);
}


.services {
    background-color: var(--background-gray);
    padding: 120px 0 130px;
    text-align: center;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: 53px auto 127px;
    gap: 40px;
}

.service {
    background-color: white;
    border: 1px solid var(--gray);
    padding: 20px 30px;
    border-radius: 1.5rem;
    margin-bottom: -10px;
    width: max-content;
    display: flex;
    text-align: left;
    align-items: center;
    gap: 0.75rem;
    font-size: 21px;
}

.service.colored {
    color: white;
    background-color: var(--purple);
    border-radius: 0.5rem;
}

.service-icon {
    width: 27px;
    height: 27px;
    min-width: 27px;
    min-height: 27px;
}






.it-infrastructure {
    margin: 93px 0 159px;
    text-align: center;
}

.it-infrastructure .title {
    margin-bottom: 96px;
}

.slider-container {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slides {
    width: 100%;
    display: flex;
    gap: 2rem;
    transition: all 0.5s ease-in-out;
}

.slide {
    min-width: calc(25% - 2rem);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--light-gray);
}

.slide img {
    width: 100%;

}

.carousal-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 28px;
    cursor: pointer;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    opacity: 0.4;
    transition: all ease 0.3s;
    box-shadow: 0px 0px 25px var(--light-gray);
    color: var(--purple)
}

.carousal-btn:hover {
    opacity: 1;
    box-shadow: 0px 0px 25px var(--gray);
}

.prev {
    left: -35px;
}

.next {
    right: 0;
}




.custom-solutions {
    background-color: #F5F5F5;
    padding: 122px 0 200px;
}

.custom-solutions .content {
    display: flex;

    margin: 0 auto;
    gap: 100px;
    width: calc(75% - 100px);

}

.custom-solutions .text {
    max-width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 21px;
}

.custom-solutions ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.custom-solutions li {
    border: 1px solid var(--light-gray);

    max-width: calc(50% - 28px);
    padding: 10px 14px;
    border-radius: 0.5rem;
    margin-bottom: -10px;
    width: max-content;
    display: flex;
    text-align: left;
    align-items: center;
    gap: 0.75rem;
    font-size: 16px;
}

.custom-solutions .image {
    min-width: 40%;
    min-height: 100%;
}

.custom-solutions .image img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}





.automation {
    padding: 40px 20px;
    position: relative;
    color: rgb(255, 255, 255);
    height: 570px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.automation .content {
    max-width: 50%;
}




.trust .logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.trust .logos img {
    max-width: 100px;
}





.advantages {
    background-color: #f8f8f8;
    padding: 40px 20px;
}

.advantages .advantages-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.advantages .advantage {
    max-width: 30%;
    text-align: center;
}

.advantages .advantage img {
    max-width: 50px;
}






.reviews {
    padding: 40px 20px;
}

.reviews .reviews-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reviews .review {
    max-width: 30%;
    text-align: left;
}

.reviews .review span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}




.awards {
    background-color: #f8f8f8;
    padding: 40px 20px;
}

.awards .awards-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}




.why-choose-us {
    padding: 40px 20px;
}

.why-choose-us .reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
}